FCM_SERVER_KEY=insert-your-fcm-server-key
TASHU_KEY=insert-your-tashu-api-key
INFLUXDB_ORG=tashu
INFLUXDB_BUCKET=metrics
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=supersecret
INFLUXDB_ADMIN_TOKEN=local-dev-admin-token
INFLUXDB_URL=http://localhost:8086
INFLUXDB_INTERNAL_URL=http://influxdb:8086
OPENWEATHER_API_KEY=insert-your-open-weather-api-key